/*css style sheet*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    background-image: url("../images/gravel_bg.png");
  }

.header {
    color: blue;
    text-align: center;
    width: 100%;
}

#instructions {
    padding: 10px 6px 10px 20px;
    width: 100%;
    line-height: 160%;
}

#theNumber {
    background-color: greenyellow;
    padding: 24px 6px 0px 10px;
    margin: 5px 0px 0px 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    color: blue;
    line-height: 140%;
}

#winLose {
    width: 100%;
    height: 100px;
   /* padding: 14px 10px 8px 10px;*/
    margin: 5px 0px 5px 0px;
    background-color: blue;
    display: inline-block; 
    font-size: 16pt;
}

#wins {
    color: white;
    padding: 5px 0px 0px 10px;
    margin: 5px 10px 0px 10px;
}

#losses {
    color: white;
    padding: 10px 0px 0px 10px;
    margin: 0px 10px 5px 10px;
}

.crystals {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.crystal {
    display: inline-block;
    width: auto;
    height: 200px;
    margin: 20px 0px 4px 0px;
    border: 2px solid blue;
    box-shadow: 5px 8px navy;
    border-radius: 10px;
}

.scoreTxt {
    width: 100%;
    height: 100px;
    background-color: blue;
    color: white;
    padding: 5px 0px 10px 75px;
    margin: 20px 5px 5px 5px;
    padding-top: 12px;
    font-size: 24px;
}
.myScore {
    width: 100%;
    height: 100px;
    background-color: blue;
    color: white;
    padding: 5px 0px 10px 10px;
    margin: 20px 5px 5px 5px;
    font-size: 48px;
}

img:hover {
    box-shadow: 6px 9px grey;
    border-radius: 11px;
    border: 3px solid navy;
  }

  #myContainer {
    margin-top: 50px;
}

.col {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.jumbotron {
    padding: 0px !important;
}
